label {
    color: #fff;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem; /* Adjust padding for smaller screens */
    margin: auto;
    max-width: 600px;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 1.6rem; /* Adjust font size for smaller screens */
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2); /* Update border style */
    color: #fff;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    form {
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    form input, form textarea {
        font-size: 1.4rem; /* Adjust font size for smaller screens */
    }
}
