.Resume_button{
    position: absolute;
    top: 40%;
    right: 30%;
    left: 45%;
}
@media screen and (max-width:1040px) {
    .Resume_button{
        position: absolute;
        top: 40%;
        right: 30%;
        left: 40%;
    }       
}